In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pathtocsvfile/simplefile.csv")

FileNotFoundError: File b'pathtocsvfile/simplefile.csv' does not exist

In [3]:
df = pd.read_csv("/Users/sergi/Desktop/MBDA/Master/BTS_MasterInBigData-master/Session_1/file_formats/simplefile.csv")

In [4]:
df.head()

  column_1  column_2       column_3
0     John      30.0  North America
1    Maria      25.0         Europe
2     Chet      22.0           Asia
3     Joan       NaN         Europe

In [7]:
df

  column_1  column_2       column_3
0     John      30.0  North America
1    Maria      25.0         Europe
2     Chet      22.0           Asia
3     Joan       NaN         Europe

In [8]:
df = pd.read_csv("/Users/sergi/Desktop/MBDA/Master/BTS_MasterInBigData-master/Session_1/file_formats/simplefile.csv", names=["Name", "Age", "Country"])

In [9]:
df ["Name"]

0    column_1
1        John
2       Maria
3        Chet
4        Joan
Name: Name, dtype: object

In [10]:
df = pd.read_csv("/Users/sergi/Desktop/MBDA/Master/BTS_MasterInBigData-master/Session_1/file_formats/simplefile.csv", names=["Name", "Age", "Country"], skiprows=1)

In [11]:
df.head()

    Name   Age        Country
0   John  30.0  North America
1  Maria  25.0         Europe
2   Chet  22.0           Asia
3   Joan   NaN         Europe

In [12]:
df["Country"].unique()

array(['North America', 'Europe', 'Asia'], dtype=object)

In [13]:
df["Age"].min()

22.0

In [14]:
df[["Name", "Age"]].min()

Name    Chet
Age       22
dtype: object

In [15]:
df["Age"].mean

<bound method Series.mean of 0    30.0
1    25.0
2    22.0
3     NaN
Name: Age, dtype: float64>

In [16]:
df.isnull().sum()

Name       0
Age        1
Country    0
dtype: int64

In [17]:
df.isnull()

    Name    Age  Country
0  False  False    False
1  False  False    False
2  False  False    False
3  False   True    False

In [18]:
df["Age"] = df ["Age"].fillna(30)

In [19]:
df ()

TypeError: 'DataFrame' object is not callable

In [20]:
df

    Name   Age        Country
0   John  30.0  North America
1  Maria  25.0         Europe
2   Chet  22.0           Asia
3   Joan  30.0         Europe

In [21]:
df.dropna(subset = ['Age'])

    Name   Age        Country
0   John  30.0  North America
1  Maria  25.0         Europe
2   Chet  22.0           Asia
3   Joan  30.0         Europe

In [ ]:
def current_year-age ()
    import datetime
    year = datetime.datetime.now().year
    df["Birthyear"]