In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/Users/sergi/Desktop/MBDA/Master/Data Science Foundations/Session_2/3_bike_sharing.csv")

In [3]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,127,132
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,35,41
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [4]:
df.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [5]:
df["datetime"].unique()
df["season"].unique()
df["holiday"].unique()
df["workingday"].unique()
df["weather"].unique()
df["temp"].unique()
df["atemp"].unique()
df["humidity"].unique()
df["windspeed"].unique()
df["casual"].unique()
df["registered"].unique()
df["count"].unique()

array([ 16,  40,  32,  13,   1,   2,   3,   8,  14,  36,  56,  84,  94,
       106, 110,  93,  67,  35,  37,  34,  28,  39,  17,   9,   6,  20,
        53,  70,  75,  59,  74,  76,  65,  30,  22,  31,   5,  64, 154,
        88,  44,  51,  61,  77,  72, 157,  52,  12,   4, 179, 100,  42,
        57,  78,  97,  63,  83, 212, 182, 112,  54,  48,  11,  33, 195,
       115,  46,  79,  71,  62,  89, 190, 169, 132,  43,  19,  95, 219,
       122,  45,  86, 172, 163,  69,  23,   7, 210, 134,  73,  50,  87,
       187, 123,  15,  25,  98, 102,  55,  10,  49,  82,  92,  41,  38,
       188,  47, 178, 155,  24,  18,  27,  99, 217, 130, 136,  29, 128,
        81,  68, 139, 137, 202,  60, 162, 144, 158, 117,  90, 159, 101,
       118, 129,  26, 104,  91, 113, 105,  21,  80, 125, 133, 197, 109,
       161, 135, 116, 176, 168, 108, 103, 175, 147,  96, 220, 127, 205,
       174, 121, 230,  66, 114, 216, 243, 152, 199,  58, 166, 170, 165,
       160, 140, 211, 120, 145, 256, 126, 223,  85, 206, 124, 255, 222,
       285, 146, 274, 272, 185, 191, 232, 327, 224, 107, 119, 196, 171,
       214, 242, 148, 268, 201, 150, 111, 167, 228, 198, 204, 164, 233,
       257, 151, 248, 235, 141, 249, 194, 259, 156, 153, 244, 213, 181,
       221, 250, 304, 241, 271, 282, 225, 253, 237, 299, 142, 313, 310,
       207, 138, 280, 173, 332, 331, 149, 267, 301, 312, 278, 281, 184,
       215, 367, 349, 292, 303, 339, 143, 189, 366, 386, 273, 325, 356,
       314, 343, 333, 226, 203, 177, 263, 297, 288, 236, 240, 131, 452,
       383, 284, 291, 309, 321, 193, 337, 388, 300, 200, 180, 209, 354,
       361, 306, 277, 428, 362, 286, 351, 192, 411, 421, 276, 264, 238,
       266, 371, 269, 537, 518, 218, 265, 459, 186, 517, 544, 365, 290,
       410, 396, 296, 440, 533, 520, 258, 450, 246, 260, 344, 553, 470,
       298, 347, 373, 436, 378, 342, 289, 340, 382, 390, 358, 385, 239,
       374, 598, 524, 384, 425, 611, 550, 434, 318, 442, 401, 234, 594,
       527, 364, 387, 491, 398, 270, 279, 294, 295, 322, 456, 437, 392,
       231, 394, 453, 308, 604, 480, 283, 565, 489, 487, 183, 302, 547,
       513, 454, 486, 467, 572, 525, 379, 502, 558, 564, 391, 293, 247,
       317, 369, 420, 451, 404, 341, 251, 335, 417, 363, 357, 438, 579,
       556, 407, 336, 334, 477, 539, 551, 424, 346, 353, 481, 506, 432,
       409, 466, 326, 254, 463, 380, 275, 311, 315, 360, 350, 252, 328,
       476, 227, 601, 586, 423, 330, 569, 538, 370, 498, 638, 607, 416,
       261, 355, 552, 208, 468, 449, 381, 377, 397, 492, 427, 461, 422,
       305, 375, 376, 414, 447, 408, 418, 457, 545, 496, 368, 245, 596,
       563, 443, 562, 229, 316, 402, 287, 372, 514, 472, 511, 488, 419,
       595, 578, 400, 348, 587, 497, 433, 475, 406, 430, 324, 262, 323,
       412, 530, 543, 413, 435, 555, 523, 441, 529, 532, 585, 399, 584,
       559, 307, 582, 571, 426, 516, 465, 329, 483, 600, 570, 628, 531,
       455, 389, 505, 359, 431, 460, 590, 429, 599, 338, 566, 482, 568,
       540, 495, 345, 591, 593, 446, 485, 393, 500, 473, 352, 320, 479,
       444, 462, 405, 620, 499, 625, 395, 528, 319, 519, 445, 512, 471,
       508, 526, 509, 484, 448, 515, 549, 501, 612, 597, 464, 644, 712,
       676, 734, 662, 782, 749, 623, 713, 746, 651, 686, 690, 679, 685,
       648, 560, 503, 521, 554, 541, 721, 801, 561, 573, 589, 729, 618,
       494, 757, 800, 684, 744, 759, 822, 698, 490, 536, 655, 643, 626,
       615, 567, 617, 632, 646, 692, 704, 624, 656, 610, 738, 671, 678,
       660, 658, 635, 681, 616, 522, 673, 781, 775, 576, 677, 748, 776,
       557, 743, 666, 813, 504, 627, 706, 641, 575, 639, 769, 680, 546,
       717, 710, 458, 622, 705, 630, 732, 770, 439, 779, 659, 602, 478,
       733, 650, 873, 846, 474, 634, 852, 868, 745, 812, 669, 642, 730,
       672, 645, 694, 493, 668, 647, 702, 665, 834, 850, 790, 415, 724,
       869, 700, 793, 723, 534, 831, 613, 653, 857, 719, 867, 823, 403,
       693, 603, 583, 542, 614, 580, 811, 795, 747, 581, 722, 689, 849,
       872, 631, 649, 819, 674, 830, 814, 633, 825, 629, 835, 667, 755,
       794, 661, 772, 657, 771, 777, 837, 891, 652, 739, 865, 767, 741,
       469, 605, 858, 843, 640, 737, 862, 810, 577, 818, 854, 682, 851,
       848, 897, 832, 791, 654, 856, 839, 725, 863, 808, 792, 696, 701,
       871, 968, 750, 970, 877, 925, 977, 758, 884, 766, 894, 715, 783,
       683, 842, 774, 797, 886, 892, 784, 687, 809, 917, 901, 887, 785,
       900, 761, 806, 507, 948, 844, 798, 827, 670, 637, 619, 592, 943,
       838, 817, 888, 890, 788, 588, 606, 608, 691, 711, 663, 731, 708,
       609, 688, 636])

In [6]:
df["datetime"].unique()

array(['2011-01-01 00:00:00', '2011-01-01 01:00:00', '2011-01-01 02:00:00',
       ..., '2012-12-19 21:00:00', '2012-12-19 22:00:00',
       '2012-12-19 23:00:00'], dtype=object)

In [7]:
df["season"].unique()

array([1, 2, 3, 4])

In [12]:
sum(df['season'] == 1)

2686

In [13]:
sum(df['season'] == 2)

2733

In [14]:
sum(df['season'] == 3)

2733

In [15]:
sum(df['season'] == 4)

2734

In [16]:
df.iloc[0:2685,:]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2011-06-18 13:00:00,2,0,0,1,31.16,34.850,55,0.0000,135,192,327
2656,2011-06-18 14:00:00,2,0,0,2,32.80,36.365,46,19.0012,138,196,334
2657,2011-06-18 15:00:00,2,0,0,2,33.62,37.880,46,8.9981,153,214,367
2658,2011-06-18 16:00:00,2,0,0,2,31.16,34.850,52,15.0013,193,275,468
2659,2011-06-18 17:00:00,2,0,0,2,31.16,34.090,48,11.0014,210,239,449
2660,2011-06-18 18:00:00,2,0,0,2,30.34,34.090,55,12.9980,118,263,381
2661,2011-06-18 19:00:00,2,0,0,2,30.34,33.335,51,7.0015,99,227,326
2662,2011-06-18 20:00:00,2,0,0,2,29.52,33.335,58,8.9981,61,127,188
2663,2011-06-18 21:00:00,2,0,0,2,29.52,34.090,66,7.0015,58,125,183
2664,2011-06-18 22:00:00,2,0,0,2,29.52,34.090,62,8.9981,56,105,161
2665,2011-06-18 23:00:00,2,0,0,2,29.52,34.090,62,0.0000,53,97,150
2666,2011-06-19 00:00:00,2,0,0,1,28.70,32.575,65,0.0000,18,71,89
2667,2011-06-19 01:00:00,2,0,0,2,28.70,32.575,65,6.0032,17,59,76
2668,2011-06-19 02:00:00,2,0,0,1,27.88,31.820,74,6.0032,13,59,72
2669,2011-06-19 03:00:00,2,0,0,2,27.06,30.305,78,8.9981,14,16,30
2670,2011-06-19 04:00:00,2,0,0,2,27.06,31.060,74,8.9981,7,10,17
2671,2011-06-19 05:00:00,2,0,0,2,27.06,30.305,78,0.0000,7,12,19
2672,2011-06-19 06:00:00,2,0,0,2,27.06,30.305,78,11.0014,11,22,33
2673,2011-06-19 07:00:00,2,0,0,2,27.06,30.305,78,11.0014,35,36,71
2674,2011-06-19 08:00:00,2,0,0,3,27.88,31.820,74,7.0015,25,59,84
2675,2011-06-19 09:00:00,2,0,0,2,27.88,31.820,74,7.0015,58,111,169
2676,2011-06-19 10:00:00,2,0,0,2,28.70,32.575,61,7.0015,86,158,244
2677,2011-06-19 11:00:00,2,0,0,2,29.52,33.335,58,6.0032,141,236,377
2678,2011-06-19 12:00:00,2,0,0,2,30.34,34.090,55,6.0032,141,255,396
2679,2011-06-19 13:00:00,2,0,0,2,30.34,33.335,51,0.0000,149,214,363
2680,2011-06-19 14:00:00,2,0,0,3,30.34,34.090,58,7.0015,124,193,317
2681,2011-06-19 15:00:00,2,0,0,2,30.34,34.090,55,7.0015,146,216,362
2682,2011-06-19 16:00:00,2,0,0,2,31.16,34.090,48,0.0000,121,257,378
2683,2011-06-19 17:00:00,2,0,0,1,30.34,33.335,51,0.0000,159,238,397
2684,2011-06-19 18:00:00,2,0,0,2,30.34,34.090,58,6.0032,78,218,296

In [17]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [18]:
df

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [ ]:
plt.figure(figsize=[12,10])
sns.factorplot ('season', 'count', 'registered', data=df, kind='bar', palette='muted', legend=False)
plt.show()

In [ ]:
plt.figure(figsize=[12,10])
sns.countplot(df['season'])
plt.show()