### Select any dataset from Kaggle, UCI repository (https://archive.ics.uci.edu/ml), or any City Council open data source, etc.

#### • For this assignment the data should be in CSV format and should not exceed 10 Mb.
#### • Load the data into SQLite DB (check that data types are correct).
#### • Retrieve the data from Python using Pandas.
#### • Ask and answer 20 questions to your dataset.
#### • Create visualizations to communicate your major findings (at least 5 visualizations).
#### • Put comments and docstrings to your code.
#### • Push your Jupyter Notebook (in *.ipynb format) and the database file (in *.db format)
#### 1into the folder “Session_3_graded_assignment” of your repository “DataScienceFoundations.”

In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [2]:
def create_connection(db_file):
    """ 
    Create a database connection to the SQLite database specified by the db_file
    
    :param db_file: database file
    :return: the Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None

In [7]:
# SUBSTITUTE THIS PATH BY THE CORRECT PATH ON YOUR LOCAL FILE SYSTEM
database = "/Users/sergi/Desktop/MBDA/Master/Data Science Foundations/Session_3/Assignment session 3/Data/adult.data.db"

# Create a database connection
conn = create_connection(database)

N = 10
query = "SELECT * FROM INUSA LIMIT {}".format(N)
df = pd.read_sql_query(query, conn)

conn.close()

df.head()

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.info()

# 1.

# 2.

# 3.

# 4.

# 5.

# 6.

# 7.

# 8.

# 9.

# 10.

# 11

# 12

# 13

# 14

# 15

# 16

# 17

# 18

# 19

# 20