# Subject: Data Science Foundation

## Session 6 - Introduction to descriptive statistics

### Exercice 1 -  Descriptive Statistics For pandas Dataframe "Advertising Data"

Considering the Descriptive Statistics in Demo 2 develop the Descriptive Statistics for the variables “TV”, “radio” and “newspaper”. 

- Dataset: "Advertising" (available at http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv). 
- Interpret and discuss the Results. 
- Commit scripts in your GitHub account. You should export your solution code (.ipynb notebook) and push it to your repository “DataScienceFoundations”.


The following are the tasks that should complete and synchronize with your repository “DataScienceFoundations” until October 25. Please notice that none of these tasks is graded, however it’s important that you correctly understand and complete them in order to be sure that you won’t have problems with further assignments.

### Read data into a Dataframe:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

## Basic statistics 

Sum, Cumulative sum, Count the number of non-NA values, Count the number of NA values, Minimum value of TV, Minimum value of TV and Range of TV. Repeat for radio and newspaper.

> Put your code here

#### TV

In [5]:
#Sum
data['TV'].sum()

29408.499999999996

In [6]:
#Cumulative Sum
data['TV'].cumsum()

1        230.1
2        274.6
3        291.8
4        443.3
5        624.1
6        632.8
7        690.3
8        810.5
9        819.1
10      1018.9
11      1085.0
12      1299.7
13      1323.5
14      1421.0
15      1625.1
16      1820.5
17      1888.3
18      2169.7
19      2238.9
20      2386.2
21      2604.6
22      2842.0
23      2855.2
24      3083.5
25      3145.8
26      3408.7
27      3551.6
28      3791.7
29      4040.5
30      4111.1
        ...
171    24609.0
172    24773.5
173    24793.1
174    24961.5
175    25183.9
176    25460.8
177    25709.2
178    25879.4
179    26156.1
180    26321.7
181    26478.3
182    26696.8
183    26753.0
184    27040.6
185    27294.4
186    27499.4
187    27638.9
188    27830.0
189    28116.0
190    28134.7
191    28174.2
192    28249.7
193    28266.9
194    28433.7
195    28583.4
196    28621.6
197    28715.8
198    28892.8
199    29176.4
200    29408.5
Name: TV, Length: 200, dtype: float64

In [7]:
#Count the number of non-NA values
data['TV'].count()

200

In [9]:
#Count the number of NA values
count_nan = len(data) - data.count()
count_nan

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [10]:
#Minimum value of TV
data['TV'].min()

0.69999999999999996

In [11]:
#Maximum value of TV
data['TV'].max()

296.39999999999998

In [12]:
#Range of TV
data['TV'].max() - data['TV'].min()

295.69999999999999

#### RADIO

In [13]:
#Sum
data['radio'].sum()

4652.800000000005

In [14]:
#Cumulative Sum
data['radio'].cumsum()

1        37.8
2        77.1
3       123.0
4       164.3
5       175.1
6       224.0
7       256.8
8       276.4
9       278.5
10      281.1
11      286.9
12      310.9
13      346.0
14      353.6
15      386.5
16      434.2
17      470.8
18      510.4
19      530.9
20      554.8
21      582.5
22      587.6
23      603.5
24      620.4
25      633.0
26      636.5
27      665.8
28      682.5
29      709.6
30      725.6
        ...
171    4120.1
172    4141.0
173    4161.1
174    4168.2
175    4171.6
176    4220.5
177    4250.7
178    4258.5
179    4260.8
180    4270.8
181    4273.4
182    4278.8
183    4284.5
184    4327.5
185    4348.8
186    4393.9
187    4396.0
188    4424.7
189    4438.6
190    4450.7
191    4491.8
192    4502.6
193    4506.7
194    4548.7
195    4584.3
196    4588.0
197    4592.9
198    4602.2
199    4644.2
200    4652.8
Name: radio, Length: 200, dtype: float64

In [15]:
#Count the number of non-NA values
data['radio'].count()

200

In [16]:
#Count the number of NA values
count_nan = len(data) - data.count()
count_nan

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [17]:
#Minimum value of TV
data['radio'].min()

0.0

In [18]:
#Maximum value of TV
data['radio'].max()

49.600000000000001

In [19]:
#Range of TV
data['radio'].max() - data['radio'].min()

49.600000000000001

#### NEWSPAPER

In [20]:
#Sum
data['newspaper'].sum()

6110.799999999999

In [21]:
#Cumulative Sum
data['newspaper'].cumsum()

1        69.2
2       114.3
3       183.6
4       242.1
5       300.5
6       375.5
7       399.0
8       410.6
9       411.6
10      432.8
11      457.0
12      461.0
13      526.9
14      534.1
15      580.1
16      633.0
17      747.0
18      802.8
19      821.1
20      840.2
21      893.6
22      917.1
23      966.7
24      992.9
25     1011.2
26     1030.7
27     1043.3
28     1066.2
29     1089.1
30     1129.9
        ...
171    5467.0
172    5514.4
173    5531.4
174    5544.2
175    5557.3
176    5599.1
177    5619.4
178    5654.6
179    5678.3
180    5695.9
181    5704.2
182    5731.6
183    5761.3
184    5833.1
185    5863.1
186    5882.7
187    5909.3
188    5927.5
189    5931.2
190    5954.6
191    5960.4
192    5966.4
193    5998.0
194    6001.6
195    6007.6
196    6021.4
197    6029.5
198    6035.9
199    6102.1
200    6110.8
Name: newspaper, Length: 200, dtype: float64

In [22]:
#Count the number of non-NA values
data['newspaper'].count()

200

In [23]:
#Count the number of NA values
count_nan = len(data) - data.count()
count_nan

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [24]:
#Minimum value of TV
data['newspaper'].min()

0.29999999999999999

In [25]:
#Maximum value of TV
data['newspaper'].max()

114.0

In [26]:
#Range of TV
data['newspaper'].max() - data['newspaper'].min()

113.7

## Central Tendency

Mean and Median.

> Put your code here

#### TV

In [28]:
data['TV'].mean()

147.0425

In [29]:
data['TV'].median()

149.75

#### RADIO

In [30]:
data['radio'].mean()

23.264000000000024

In [31]:
data['radio'].median()

22.9

#### NEWSPAPER

In [32]:
data['newspaper'].mean()

30.553999999999995

In [33]:
data['newspaper'].median()

25.75

#### TV

In [34]:
data['TV'].describe()

count    200.000000
mean     147.042500
std       85.854236
min        0.700000
25%       74.375000
50%      149.750000
75%      218.825000
max      296.400000
Name: TV, dtype: float64

#### RADIO

In [35]:
data['radio'].describe()

count    200.000000
mean      23.264000
std       14.846809
min        0.000000
25%        9.975000
50%       22.900000
75%       36.525000
max       49.600000
Name: radio, dtype: float64

#### NEWSPAPER

In [36]:
data['newspaper'].describe()

count    200.000000
mean      30.554000
std       21.778621
min        0.300000
25%       12.750000
50%       25.750000
75%       45.100000
max      114.000000
Name: newspaper, dtype: float64

## Measures of spread

Range, Variance, Standard deviation, Q1, Q2, Q3, Box-and-whisker plots and Histogram.

> Put your code here

## Finding outliers

> Put your code here

## Skewness and Kurtosis

> Put your code here

## Question: Which variable set has the larger standard deviation? What is its impact?